#app{
  min-height: 530px;
}

.chat-area{
  width: 80%;
  height: auto;
  text-align: center;
  margin: 5% auto;
  //background-image: $main-bg-color;
  border: 15px double #ffffff;
  border: 2px solid none;
  padding: 10px;
  border-radius: 80px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
}

h2{
    font-size: 25px;
    margin:2%
}


.new-message {
    padding: 10px;
    background-color: $blue;
    color: black;
    border-radius: 8px;
    float:left;
    clear: both;
    border-radius: 50px 20px;
    border: 7px double #ffffff;
  }
  
.my-message{
    background-color: $green;
    float: right;
    border-radius: 50px 20px;
    border: 7px double #ffffff;
  }
  
