

body{
  background-color: $main-bg-color;
  background-image: linear-gradient(to right, #2eb9ce , #72be7d);
  color: $main-text-color;
  font-family:$default-family  !important;
  font-size: 20px;
}


.hidden{
  display: none;
}